requests>=2.25.1
pydantic==2.12.5
confme==2.0.4
adafruit_blinka
adafruit-circuitpython-bme280==2.6.30
adafruit-circuitpython-bme680==3.7.14
RPi.GPIO>=0.7.0

# Test Requirements
pytest==8.4.2
pytest-cov==7.0.0
pytest-dotenv==0.5.2