requests>=2.25.1
pydantic==2.4.2
confme==2.0.2
adafruit_blinka
adafruit-circuitpython-bme280==2.6.6
adafruit-circuitpython-bme680==3.7.12
RPi.GPIO>=0.7.0

# Test Requirements
pytest==7.3.1
pytest-cov==4.1.0
pytest-dotenv==0.5.2