requests>=2.33.1
pydantic==2.13.4
confme==2.2.0
adafruit_blinka
adafruit-circuitpython-bme280==2.6.32
adafruit-circuitpython-bme680==3.7.16
RPi.GPIO>=0.7.1

# Test Requirements
pytest==9.0.3
pytest-cov==7.1.0
pytest-dotenv==0.5.2