name: Build Container

on:
  release:
    types: [published]
  push:
    branches:
      - main
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Build and Push Image to Docker Registry
    runs-on: raspberry-pi
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: "https://${{ vars.REGISTRY_NAME }}"
          username: ${{ vars.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.REGISTRY_NAME }}/weather_station_raspberry_pi
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=pep440,pattern={{version}}
            type=pep440,pattern={{major}}
            type=pep440,pattern={{major}}.{{minor}}
            type=sha,enable=true,prefix=,suffix=,format=short
            type=sha,enable=true,prefix=,suffix=,format=long

      - name: Display Tags
        id: tag-display
        run:
          echo "${{ steps.meta.outputs.tags }}"

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}