name: CI Package

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]
  fork:
  workflow_dispatch:

jobs:
  run-package-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov black pylint
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Unit Tests (Pytest)
        run: |
          pytest --log-level debug .
      - name: Test Coverage
        run: |
          coverage run -m pytest
          coverage report --fail-under=95
      - name: Check Code Format (black)
        run: |
          black -l 120 --check .
      - name: Check Linting
        run: |
          pylint src